<html>
<body>
    <h1>Mega Downloader</h1>
    <form id="downloadForm" action="/download" method="POST">
        <label for="url">Enter MEGA link:</label>
        <input type="text" name="url" id="url">
        <input type="submit" value="Download">
    </form>
    <div id="downloadStatus">
        {% if download_status %}
            <p>{{ download_status }}</p>
            {% if download_link %}
                <a href="{{ download_link }}">Download link</a>
            {% endif %}
        {% endif %}
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#downloadForm').submit(function(e) {
                e.preventDefault();
                var url = $('#url').val();
                $('#downloadStatus').html('<p>Downloading file...</p>');
                $.ajax({
                    url: '/download',
                    type: 'POST',
                    data: { url: url },
                    success: function(response) {
                        $('#downloadStatus').html('<p>Download completed.</p><a href="' + response + '">Download link</a>');
                    },
                    error: function() {
                        $('#downloadStatus').html('<p>An error occurred during download.</p>');
                    }
                });
            });
        });
    </script>
</body>
</html>
